<%-include('./partials/head.ejs')%>

<div class="title">
<h1>Velkommen til undersøkelsen!</h1>
</div>
<br>
<br>
<br>
<div class="loginForm">
    <h2>Logg Inn</h2>
    <br>
    <br>
    <textarea name="username" id="username"></textarea>
    <br>
    <br>
    <textarea name="password" id="password"></textarea>
    <br>
    <br>
    <button class="loginButton">Logg Inn</button>
</div>


<%-include('./partials/foot.ejs')%>